<h2 class="list-group-item list-group-item-info">Nombre Region</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <button *ngFor="let region of regions"
      class="btn mx-1"
      [ngClass]="{ 'btn-outline-warning': selectedRegion === region }"
      (click)="searchByRegion(region)"
    >
      {{ region }}
    </button>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul style="padding: 0%;">
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
      <countries-table [countries]="countries"></countries-table>
    </ul>
  </div>
</div>
