<h2 class="list-group-item list-group-item-info">Nombre Capital</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <shared-search-box
      (onDebounce)="searchByCapital( $event )"
      [initialValue]="initialValue"
      placeholder="Buscar por Capital en inglés"
    ></shared-search-box>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul style="padding: 0%;">
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
      <countries-table [countries]="countries"></countries-table>
    </ul>
  </div>
</div>
